<!DOCTYPE html>
<html>
  <br>
<body>
<br>
<br>
<br>
<div class="container">
  <div class="mq-panel-wrapper">
    <div class="mq-panel-header">
      <h3>Empresa</h3>
    </div>

    <div class="mq-panel-body">
      <ul class="mq-comment">

        <li class="left clearfix text-center">
          <div class="mq-comment-body clearfix">
            <div class="header">
              <br>
              <strong class="primary-font">Taco Bell</strong>
            </div>
            <br>
            <p class="taco">
              Cadena de restaurantes de comida rápida, especializada en cocina Tex-Mex.
               Taco Bell es una cadena estadounidense de restaurantes de comida rápida que se originó en Irvine,
               California en 1962, por el fundador Glen Bell. Taco Bell es una subsidiaria de Yum! Brands, Inc.
            </p>

            <br>
            <span class="mq-comment-img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyVDgreK6tAREIVRmTNC00cLxMWBfFyF8fSg&usqp=CAU" width="100"
                alt="User Avatar" class="img-circle" />
            </span>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="mq-panel-wrapper">
    <div class="mq-panel-header">
      <h3>Sucursales</h3>
    </div>



    <div class="mq-panel-body">

      <div class="nav-link" routerLink="/Sucursales" routerLinkActive="active">

        <div class="mq-friends thumbnail">
          <div class="mq-friend-img text-center">

              <p>Taco Bell, Paseo de la Sexta</p>
          </div>



        </div>

      </div>

      <div class="nav-link" routerLink="/Sucursales" routerLinkActive="active">

        <div class="mq-friends thumbnail">
          <div class="mq-friend-img text-center">


            <p>Taco Bell, Gran Centro Comercial zona 4</p>
          </div>

        </div>

      </div>

      <div class="nav-link" routerLink="/Sucursales" routerLinkActive="active">

        <div class="mq-friends thumbnail">
          <div class="mq-friend-img text-center">
            <p>Taco Bell, Calzada Roosevelt</p>
          </div>

        </div>

      </div>



    </div>

  </div>
</div>
</body>
</html>
