.mq-panel-header{
  width:64.5%;
  height:70x;
  background-color:#6793F4;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding:500px;
  text-shadow: #FFFFFF;
}

.mq-panel-header h3{
  color:#fff;
  font-weight:30;
  letter-spacing:5px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  font-size: 22px;
}

.mq-panel-body{
  width:66%;
  height:340px;
  text-align: center;
  overflow-y:scroll;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color:#FFFFFF;
  border-radius:0px 0px 5px 5px;
}

.mq-friends{
  width:100%;
  height:150px;
  padding:0;
  position:relative;
  display:table;
  float:left;
  margin:0px 10px 10px 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.mq-friends:hover{
  transition:.6s;
  transform:scale(.9);
}

.mq-friend-img{
  padding-top:10px;
}

.mq-friends-footer{
  width:100%;
  background-color:black;
  position:absolute;
  bottom:0;
  text-align:center;
  color:#fff;
}

.mq-friend-img{
  color: black;
  font-size: 32px;
}

.mq-friend-img:hover{
  color:grey
}

.taco{
  text-align: justify;
  font-size: 16px;
}

.body{
  font-family: 'Helvetica';
}

p{
  text-align: justify;
}

.text-white{
  text-align: center;
}

.bg{
  background-color: #6793F4;
  font-size: 18px;
}

.card-link{
  text-decoration: none;
  color: #6793F4;
  margin-left: 80px;
  font-size: 22px;
}

.card-link:hover{
  color: #6793F4;
  box-shadow: #6793F4;
}

.btn{
  background-color: #6793F4;
  border: #6793F4;
  box-shadow: #6793F4;
}

.sucursal-data{
  font-size: 28px;
}

.card-text{
  text-align: center;
}
