<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="https://cdn-icons.flaticon.com/png/512/2487/premium/2487915.png?token=exp=1648695980~hmac=96618413fdd69cfa43f958adc441e23b" width="40" height="40" alt="">
  </a>
  <a class="navbar-brand" routerLink="/Inicio">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/Login">Inicio de Sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Registro">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Empresa">Empresa</a>
      </li>
    </ul>
  </div>
</nav>
