<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card card-registration my-4">
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block">
                  <img
                    src="https://p4.wallpaperbetter.com/wallpaper/28/402/373/skyscraper-architecture-bottom-view-building-wallpaper-preview.jpg"
                    alt="Sample photo"
                    class="img-fluid"
                    style="
                      border-top-left-radius: 0.25rem;
                      border-bottom-left-radius: 0.25rem;
                    "
                  />
                </div>
                <div class="col-xl-6">
                  <div class="card-body p-md-5 text-black">
                    <h3 class="mb-5 text-uppercase">Registrate aqui</h3>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input
                            type="text"
                            id="form3Example1m"
                            class="form-control form-control-lg"
                          />
                          <label class="form-label" for="form3Example1m"
                            >Nombre</label
                          >
                        </div>
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        id="form3Example8"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example8"
                        >Direccion</label
                      >
                    </div>

                    <div
                      class="d-md-flex justify-content-start align-items-center mb-4 py-2"
                    >
                      <h6 class="mb-0 me-4">Genero</h6>

                      <div class="form-check form-check-inline mb-0 me-4">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          d="femaleGender"
                          value="option1"
                        />
                        <label class="form-check-label" for="femaleGender"
                          >mujer</label
                        >
                      </div>

                      <div class="form-check form-check-inline mb-0 me-4">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="maleGender"
                          value="option2"
                        />
                        <label class="form-check-label" for="maleGender"
                          >Hombre</label
                        >
                      </div>

                      <div class="form-check form-check-inline mb-0">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="otherGender"
                          value="option3"
                        />
                        <label class="form-check-label" for="otherGender"
                          >Otro</label
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <select class="select">
                          <option value="1">Pais</option>
                          <option value="2">Guatemala</option>
                          <option value="3">EU</option>
                          <option value="4">Mexico</option>
                          <option value="5">Otro</option>
                        </select>
                      </div>
                      <div class="col-md-6 mb-4"></div>
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        id="form3Example90"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example90"
                        >Correo</label
                      >
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        id="form3Example99"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example99"
                        >Password</label
                      >
                    </div>

                    <div class="d-flex justify-content-end pt-3">
                      <button
                        type="button"
                        class="btn btn-light btn-lg"
                        routerLink="/Inicio"
                      >
                        Regresar
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary btn-lg ms-2"
                        routerLink="/Login"
                      >
                        Registar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
