<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sucursal</title>
  </head>
  <body>
    <section>
      <h1>Informacion de Sucursales</h1>
      <div class="nav-link" routerLink="/Dashboard" routerLinkActive="active">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-dark btn-lg" type="submit">
            Aquí puedes regresar
          </button>
        </div>
      </div>
    </section>

    <div class="wrap">
      <div class="secciones">
        <article id="tab1">
          <h5>Opciones de servicio</h5>
          <p>
            <br />
            Consumo en el lugar · Para llevar · Entrega sin contacto
          </p>
          <br />
          <br />
          <h3>Sucursales</h3>
          <br />

          <p>
            · Taco Bell 6A Av o Paseo de la Sexta, Ciudad de Guatemala
            <br>Cierra a las 20:00. Contactar al 2202-0030 <br>
            Es posible ealizar pedidos en ubereats.com
          </p>
          <br />
          <p>
            · Taco Bell Gran Centro Comercial zona 4 Ubicado en la 3ra nivel
            Plaza, 6A Avenida, Ciudad de Guatemala
            <br />
            Cierra a las 23:00 Contactar al 2202-0111
          </p>
          <br />
          <p>
            · Taco Bel Calzada Roosevelt 33-88, Ciudad de Guatemala
            <br>Cierra a las 00:00. Contactar al 2202-0018
            <br/>
            Es posible realizar pedidos en ubereats.com
          </p>
        </article>
        <article id="tab2">
          <h3>Menú</h3>
          <p>
            <br />
            <a href="https://www.tacobell.com.gt/a-domicilio"
              >Visualizar el Menú.</a
            >
            <br />
            Menú general de la empresa, es posible verificar los precios de los
            productos activos a dia de hoy.
          </p>
        </article>
        <article id="tab3">
          <h3>Horarios</h3>
          <p>
            <br />
            Se cuenta con servicio a domicilio en, pedidos desde Q50.00 <br />
            verificar horarios dispuestos: <br />
            Martes de 10am - 9pm <br />
            Viernes y sábado 11am - 9pm <br />
            Lunes, miércoles, jueves y domingo 11am - 8pm <br />
          </p>
          <br />
        </article>
      </div>
    </div>
  </body>
</html>
