<!DOCTYPE html>
<html lang="es">
    <body>
        <div class="container px-4 px-lg-5">
          <br>
          <br>
          <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarProductosEmpresa"><i class="bi bi-file-earmark-plus"></i>
            Agregar Producto a la Empresa
        </button>
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.informa.es/sites/5c1a2fd74c7cb3612da076ea/pages/5c5026610fa1c000c25b5631/files/analisis-pagos-3.svg?1645775484"/></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Productos de Empresa</h1>
                    <br>
                    <p>Aqui podra ver los productos con los que cuenta la empres, donde podra modificar, eliminar y buscar el producto deseado</p>
                    <div class="input-group">
                      <input type="Buscar" class="form-control rounded" placeholder="Buscar" aria-label="Buscar" aria-describedby="search-addon" />
                      <button type="button" class="btn btn-outline-primary">Buscar</button>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Buscar Por Stock</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                      <label class="form-check-label" for="flexSwitchCheckChecked">Nombre Producto</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                      <label class="form-check-label" for="flexSwitchCheckChecked">Nombre Proveedor</label>
                    </div>

          </div>
           </div>

            <div class="card text-white bg my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">En este apartado, maneja de la mejor manera los productos propio de la Empresa, puedes mandar dichos productos a las Sucursales.</p></div>
            </div>

        </div>

        <div class="container">
          <div class="text-center">

            <div class="col-sm">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Nombre Proveedor</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Enviar a Sucursal</th>
                    <th scope="col">Otras Funciones</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prodE of productosEmpresaModelGet">
                    <td>{{ prodE.nombreProducto }}</td>
                    <td>{{ prodE.nombreProveedor }}</td>
                    <td>{{ prodE.stock }}</td>
                    <td><button class="btn btn-primary">Enviar a sucursal</button></td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditarProductosEmpresa" (click)="getProductosEmpresaId(prodE._id)"><i class="bi bi-pencil-square"></i></button>&nbsp;
                      <button class="btn btn-primary" (click)="deleteProductosEmpresa(prodE._id)"><i class="bi bi-file-earmark-minus"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--Modal Agregar Sucursal-->
    <div class="modal fade" id="modalAgregarProductosEmpresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #6793F4">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">Agregar Producto a la Empresa</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>

              <div class="mb-3">
                <label for="inputNombreProductoEmpresa" class="form-label">Nombre del Producto</label>
                <input placeholder="Producto de la Empresa" type="text" class="form-control" name="nombreProductoEmpresa" #nombreProductoEmpresa="ngModel"
                [(ngModel)]="productosEmpresaModelPost.nombreProducto" required>
              </div>

              <div class="mb-3">
                <label for="inputNombreProveedor" class="form-label">Nombre del Proveedor</label>
                <input placeholder="Proveedor de la Empresa" type="text" class="form-control" name="nombreProveedor" #nombreProveedor="ngModel"
                [(ngModel)]="productosEmpresaModelPost.nombreProveedor" required>
              </div>

              <div class="mb-3">
                <label for="inputStock" class="form-label">Cantidad en Existencia</label>
                <input placeholder="Disponibilidad del Producto" type="text" class="form-control" name="stock" #stock="ngModel"
                [(ngModel)]="productosEmpresaModelPost.stock" required>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="postProductosEmpresa()" data-bs-dismiss="modal">Agregar</button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal Editar Sucursal-->
    <div class="modal fade" id="modalEditarProductosEmpresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #6793F4">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white">Editar Datos de los Productos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>

              <div class="mb-3">
                <label for="inputNombreProductoEmpresa" class="form-label">Nombre del Producto</label>
                <input placeholder="Producto de la Empresa" type="text" class="form-control" name="nombreProductoEmpresa" #nombreProductoEmpresa="ngModel"
                [(ngModel)]="productosEmpresaModelId.nombreProducto" required>
              </div>

              <div class="mb-3">
                <label for="inputNombreProveedor" class="form-label">Nombre del Proveedor</label>
                <input placeholder="Proveedor de la Empresa" type="text" class="form-control" name="nombreProveedor" #nombreProveedor="ngModel"
                [(ngModel)]="productosEmpresaModelId.nombreProveedor" required>
              </div>

              <div class="mb-3">
                <label for="inputStock" class="form-label">Cantidad en Existencia</label>
                <input placeholder="Disponibilidad del Producto" type="text" class="form-control" name="stock" #stock="ngModel"
                [(ngModel)]="productosEmpresaModelId.stock" required>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="putProductosEmpresa()" data-bs-dismiss="modal">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
    </div>

</body>
</html>

